<<<<<<< HEAD
=======

>>>>>>> origin/master
.charts{
  border-radius: 5px;
  background-color: #c9cbc4;
  width: 30%;
  margin:10px;
  border-top:3px solid red;
  padding-bottom: 10px;
  display: inline-block;
}
.charts>h3{
  margin:5px 0 0 5px;
  padding:0;
}


.demo-chart {

  width:90%;
  height: 300px;
  margin:0 auto;
  border-radius: 5px;

}
.chr{
  width: 90%;
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}
