
<div class="row">
  <div class="charts col-lg-3 col-md-3 col-sm-1">
    <h3>CPU1</h3>
    <hr class="chr" />
    <div echarts [options]="option" class="demo-chart"></div>
  </div>
  <div class="charts col-lg-3 col-md-3 col-sm-1">
    <h3>CPU2</h3>
    <hr class="chr" />
    <div echarts [options]="option2" class="demo-chart"></div>
  </div>
  <div class="charts col-lg-3 col-md-3 col-sm-1">
    <h3>CPU3</h3>
    <hr class="chr" />
    <div echarts [options]="option3" class="demo-chart"></div>
  </div>
  <div class="charts col-lg-3 col-md-3 col-sm-1">
    <h3>CPU4</h3>
    <hr class="chr" />
    <div echarts [options]="option4" class="demo-chart"></div>
  </div>
</div>



